.team {
    background-color: var(--bcg-card-color);
    padding-top: 94px;
    padding-bottom: 94px;
    &__list {
            display: flex;
    }
    &__item {
        margin-right: 30px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__title {
        font-weight: 700;
        font-size: var(--direction-title-size);
        line-height: 1.17;
        text-align: center;
        color: var(--second-title-color);
        margin-bottom: 50px;
        margin-top: 0px;
    }
}
.team__item:last-child {
    margin-right: 0px;
}

.about-team-item {
    padding-top: 30px;
    margin-bottom: 16px;
}

.about-team-item__title {
    @extend .about-team-item__text;
    font-weight: 500;
    color: var(--second-title-color);
    margin-bottom: 10px;
    
}

.about-team-item__text {
    font-size: var(--team-card-text);
    line-height: 1.19;
    text-align: center;
    margin-top: 0px;
}

.team-soc__list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.team-soc__link {
    width: 44px;
    height: 44px;
    background-color: var(--main-title-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition: fill 250ms var(--animation),
    background-color 250ms var(--animation);
    &:hover, &:focus {
            background-color: var(--accent-color);
            fill: var(--main-title-color);
        }
}
.team-soc__item .team__icon>img {
    display: block;
    width: 100%;
    height: auto;
}
.team-soc__item+.team-soc__item {
    margin-left: 10px;
}