:root {
    --header-color: #212121;
    --contacts-color: #757575;
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --btn-color: #2196F3;
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --hero-footer-bgc-color: #2F303A;
    --bcg-card-color: #F5F4FA;
    --head-logo-color: #000000;
    --footer-logo-color: #FFFFFF;
    --animation: cubic-bezier(0.4, 0, 0.2, 1);
    --hover-btn-color: #188CE8;
    --social-icon-color: #afb1b8;

    --card-text: 18px;
    --hero-title: 44px;
    --main-text-size: 14px;
    --button-text-size: 16px;
    --direction-title-size: 36px;
    --team-card-text: 16px;
    --modal-top-text: 20px;
    --form-label-text: 12px;
}